.container {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 50px 200px 60px;	
}

.header{
	grid-column:  2 / -1 ;
}

.menu {
	grid-row: 1 / -1;
}

.content {
	grid-column: 2 / -1;
}

.footer {
	grid-column: 2 / -1;
}